/KolesoTimeManager.v12.suo
/Koleso.Core/bin
/Koleso.Core/obj
/Koleso.Logging/bin
/Koleso.Logging/obj
/Koleso.Persistence/bin
/Koleso.Persistence/obj
/Services/bin
/Services/obj

/Koleso.Core/*.user

/Koleso.Logging/*.user

/Services/*.user

/*.suo

/Koleso.Persistence/*.user

/RavenDB/Server/Database/System
/packages
/RavenDB/Server/Database
/Koleso.Database/bin
/Koleso.Database/obj
/Koleso.Database/RavenDB/Server/Database

/Koleso.Database/*.user

/Koleso.Database/RavenDB/Server/InstallUtil.InstallLog
/Koleso.Database/RavenDB/Server/Raven.Server.InstallLog
